<h3 id="ward">Hospital Ward Monitoring System</h3>
<table class="ward">
    <thead>
        <td>Temperature</td>
        <td>Humidity </td>
        <td>Fire</td>
        <td>Noise</td>
        <td>Time Stamp</td>
    </thead>
    {{#each data}}
    <tr>
        <td>{{Temperature}}°C</td>
        <td>{{Humidity}} %</td>
        <td>{{Fire}}</td>
        <td>{{Noise}}</td>
        <td>{{createdAt}}</td>
    </tr>
    {{/each}}
</table>
<div class="d-flex">
    <form action="/ward/users/logout" method="POST">
        <button type="submit" class="btn btn-danger">Sign Out</button>
    </form>

</div>

{{>footer}}